/.idea/
HELP.md
target/
!src/backend/frameworks/spring_boot/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/frontend/node_modules/
/src/data_processing/notebooks/.ipynb_checkpoints/
/src/data_processing/notebooks/taxi/.ipynb_checkpoints/
/src/backend/scrappers/gradle/
/src/backend/scrappers/gradle/
/src/backend/scrappers/gradle/
/src/deployment/config/
/src/backend/spring/src/main/resources/busyness_predictions.json
