:root {
    --modal-z-index: 1300;
    --modal-top: 10vh;
    --modal-right: 1vw;
    --modal-width: 30vw;
    --modal-max-width: 300px;
    --modal-background-color: white;
    --modal-border-radius: 1rem;
    --modal-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    --modal-padding: 2rem;
    --modal-font-size: 0.875rem;
    --modal-form-margin-top: 1rem;
    --modal-form-margin-bottom: 2rem;
    --modal-form-min-height: 20vh;
}

.register-modal {
    position: absolute;
    top: var(--modal-top);
    right: var(--modal-right);
    width: var(--modal-width);
    max-width: var(--modal-max-width);
    background-color: var(--modal-background-color);
    border-radius: var(--modal-border-radius);
    box-shadow: var(--modal-box-shadow);
    padding: var(--modal-padding);
    z-index: var(--modal-z-index);
    animation: glowAnimation 1.5s infinite alternate;
}

@keyframes glowAnimation {
    from {
        box-shadow: 0 0 10px rgba(255, 166, 0, 0.265);
    }
    to {
        box-shadow: 0 0 20px rgba(255, 166, 0, 0.537);
    }
}

.register-modal * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--modal-font-size);
}

.register-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-modal-title {
    margin: 0;
}

.register-modal-form {
    margin-top: var(--modal-form-margin-top);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: var(--modal-form-min-height);
}

.register-modal-form button {
    color: white;
}

.register-modal-input {
    margin-bottom: var(--modal-form-margin-bottom);
}

.register-modal-footer {
    margin-top: var(--modal-form-margin-top);
    display: flex;
    justify-content: right;
    align-items: center;
}