.custom-range-picker .ant-picker {
  border-radius: 20px;
  border-color: #ef9930;
  width: 100%;
  margin-right: 0; /* Ensure there's no right margin */
}

.custom-range-picker .ant-picker-focused {
  border-color: #ef9930;
  box-shadow: 0 0 0 0px white;
}

.custom-range-picker .ant-picker:hover {
  border-color: #ef9930;
}

.custom-range-picker .ant-picker-input > input {
  font-size: 12px;
}

/* Home page */
.home-date-picker .ant-picker {
  width: 14vw;
  height: 38px;
  border-width: 1px;
  margin-right: 0; /* Ensure there's no right margin */
}

.home-date-picker .ant-picker-input > input {
  font-size: 12px;
}

/* Media queries to adjust width based on screen size */
.custom-range-picker .ant-picker {
  width: 100%;
}


@media (min-width: 320px) {
  .custom-range-picker .ant-picker {
    width: 45vw;

  }
}

@media (min-width: 600px) {
  .custom-range-picker .ant-picker {
    width: 25vw;
  }
}

@media (min-width: 960px) {
  .custom-range-picker .ant-picker {
    width: 18vw;
  }
}


@media (min-width: 1280px) {
  .custom-range-picker .ant-picker {
    width:14vw;
  }
}
