.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 10px 20px;
}

.header .logo {
  color: #fff;
  font-size: 1.5em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header nav {
  display: flex;
  gap: 20px;
}

.header nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;

  border-radius: 5px; 
  transition: background-color 0.3s; 
}

.header nav a:hover {
  background-color: #555; 
}
