.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  padding: 10px 20px;
}

.header .logo {
  color: #fff;
  font-size: 1.5em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header nav {
  display: flex;
  gap: 20px; /* 添加间距 */
}

.header nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  /* background-color: #444; 按钮背景色 */
  border-radius: 5px; /* 按钮圆角 */
  transition: background-color 0.3s; /* 过渡效果 */
}

.header nav a:hover {
  background-color: #555; /* 悬停时背景色 */
}
