.plan {
  display: flex;
}

.plan-content {
  width: 30%;
  padding: 20px;
}

.map {
  width: 70%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
